# Don't exclude these dirs
!bower_components/svg.draggable.js
!bower_components/svg.js

# Ignore everything in these dir
bower_components/svg.draggable.js/*
bower_components/svg.js/*

# But not these dirs
!/bower_components/svg.draggable.js/dist
!/bower_components/svg.js/dist
